<div class="logo">
    <a href="<?php echo base_url();?>">
        <img src="<?php echo static_url('templates/metronics/assets/pages/img/logo-big-white.png'); ?>" style="height: 17px;" alt="" /> 
    </a>
</div>