<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>{title_for_layout}</title>
        <?php $this->load->view('includes/templates/metronic_lock_screen/include_meta.phtml'); ?>
        <?php $this->load->view('includes/templates/metronic_lock_screen/include_css.phtml'); ?>
        <?php $this->load->view('includes/templates/metronic_lock_screen/include_favicon.phtml'); ?>        
    </head>
    <!-- END HEAD -->

    <body class="">
        <div id="loading" hidden> {{ message }} </div>
        <?php $this->load->view('components/flash_message.php'); ?>
        <div class="page-lock">
            <?php $this->load->view('includes/templates/metronic_lock_screen/logo.phtml'); ?>   
            <?php $this->load->view('components/content.html.php'); ?>
            <?php $this->load->view('includes/templates/metronic_lock_screen/footer.phtml'); ?>   
        </div>        
        <?php $this->load->view('includes/templates/metronic_lock_screen/include_js.phtml'); ?>
    </body>
</html>