<!DOCTYPE html>
<html lang="en">
    <head>
        <title><?php echo isset($title_for_layout) ? $title_for_layout : '' ?></title>
        <?php $this->load->view('includes/templates/metronic_login/include_meta.phtml'); ?>
        <?php $this->load->view('includes/templates/metronic_login/include_css.phtml'); ?>		
    </head>
    <body class=" login">
		<div class="col-xs-12">
			<div class="input-group col-xs-2" style="text-align:right; float:right; margin-top:20px">
				<span class="input-group-addon"><?php echo $this->lang->line('global_language'); ?></span>
				<?php $this->load->view('includes/tools/change_lang.html.php');?>
			</div>
		</div>
        <div class="col-xs-12">
            <?php $this->load->view('components/content.html.php'); ?>
        </div>
    </body>
    <?php $this->load->view('includes/templates/metronic_login/include_js.phtml'); ?>	
</html>