<html lang="en">
    <!-- BEGIN HEAD -->
    <head>
        <title><?php echo isset($title_for_layout) ? $title_for_layout : ''?></title>
        <?php $this->load->view('includes/templates/metronics/include_meta.php'); ?>
        <?php $this->load->view('includes/templates/metronics/include_css.php'); ?>
        <?php $this->load->view('includes/templates/metronics/include_favicon.php'); ?>
    </head>
    <!-- END HEAD -->
    <body class="page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo page-content-white">
        <div id="loading" hidden> {{ message }} </div>
        <?php $this->load->view('components/flash_message.php'); ?>
        <!-- BEGIN HEADER -->
        <?php $this->load->view('includes/templates/metronics/header.php'); ?>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <?php $this->load->view('includes/templates/metronics/sidebar.php'); ?>            
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <?php $this->load->view('components/content.html.php'); ?>
                </div><!-- END CONTENT BODY -->
            </div>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <?php $this->load->view('includes/templates/metronics/footer.php'); ?>   
        <!-- END FOOTER -->
        <?php $this->load->view('includes/templates/metronics/include_js.php'); ?> 
    </body>
</html>